@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

  
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  overflow-wrap: break-word; 
  width: 100%;

}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  position: absolute;

  height: 100%;
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  position: absolute;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


/* TOOLTIP */

.tooltip {
  position: relative;
  cursor: pointer;

}



i {
  font-weight: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  text-align: center; 
  bottom: 30px;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Position the tooltip text - see examples below! */
  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}